/* Custom color theme properties */
:root {
  --f7-theme-color: #7ED957;
  --f7-theme-color-rgb: 126, 217, 87;
  --f7-theme-color-shade: #64d136;
  --f7-theme-color-tint: #98e178;
  --f7-theme-color-bg: #fffff9;
}

/* Your app custom styles here */

.leaflet-container{
  width: 100%;
  height: 100%;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20%;
}

.bg-color-primary {
  --f7-theme-color-bg-color: var(--f7-theme-color-bg)
}


.leaflet-routing-container,
.leaflet-routing-error {
  max-width: 70%;
  max-height: 10%;
  width: 300px;
  overflow-y: auto;
  background-color: white;
  padding-top: 2px;
  transition: all 0.2s ease;
  box-sizing: border-box;
  opacity: 0.75;
}

.leaflet-control-container .leaflet-routing-container-hide {
  width: 40px;
  height: 40px;
}

.leaflet-routing-container h2 {
  font-size: 14px;
}

.leaflet-routing-container h3 {
  font-size: 12px;
  font-weight: normal;
}

.leaflet-routing-collapsible .leaflet-routing-geocoders {
  margin-top: 20px;
}

.leaflet-routing-alt,
.leaflet-routing-geocoders,
.leaflet-routing-error {
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
  max-height: 320px;
  overflow-y: auto;
  transition: all 0.2s ease;
}

.leaflet-control-container .leaflet-routing-container-hide .leaflet-routing-alt,
.leaflet-control-container
  .leaflet-routing-container-hide
  .leaflet-routing-geocoders {
  display: none;
}

.leaflet-bar .leaflet-routing-alt:last-child {
  border-bottom: none;
}

.leaflet-routing-alt-minimized {
  color: #888;
  max-height: 64px;
  overflow: hidden;
  cursor: pointer;
}

.leaflet-routing-alt table {
  border-collapse: collapse;
}

.leaflet-routing-alt tr:hover {
  background-color: #eee;
  cursor: pointer;
}

.leaflet-routing-alt::-webkit-scrollbar {
  width: 8px;
}

.leaflet-routing-alt::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #eee;
}

.leaflet-routing-alt::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #888;
}

.leaflet-routing-instruction-distance {
  width: 48px;
}

.leaflet-routing-collapse-btn {
  position: absolute;
  top: 0;
  right: 6px;
  font-size: 24px;
  color: #ccc;
  font-weight: bold;
}

.leaflet-routing-collapse-btn:after {
  content: "\00d7";
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  position: relative;
  left: 4px;
  top: 4px;
  display: block;
  width: 26px;
  height: 23px;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn:after {
  content: none;
}

.leaflet-top .leaflet-routing-container.leaflet-routing-container-hide {
  margin-top: 10px !important;
}
.leaflet-right .leaflet-routing-container.leaflet-routing-container-hide {
  margin-right: 10px !important;
}
.leaflet-bottom .leaflet-routing-container.leaflet-routing-container-hide {
  margin-bottom: 10px !important;
}
.leaflet-left .leaflet-routing-container.leaflet-routing-container-hide {
  margin-left: 10px !important;
}

@media only screen and (max-width: 640px) {
  .leaflet-routing-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
}
